<html>
<head>
    <base href="/">
    <title>node seed</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="\js\app\bundle.js"></script>
</head>
<body>
<cb-app>Loading...</cb-app>

<script src="/js/app/bundle.js"></script>
</body>
</html>
